* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primaryColour: rgb(115, 172, 115);

h1 {
  color: $primaryColour;
}


#ft-img {
  height: 350px;
  background-color: aquamarine;
}

#custom-header {
  height: 350px;
  width: auto;
}

.header-img {
  height: 100%;
  width: 100%;
}

.service-image {
 max-height: 450px;
}