* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primaryColour: rgb(97, 141, 97);

h1 {
  color: $primaryColour;
}


#ft-img {
  height: 350px;
  background-color: aquamarine;
}

#custom-header {
  height: 350px;
  width: auto;
}